<div id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "/img/humming-bird.png" | prepend: site.baseurl }}" alt="Ankush Sharma">
	</a>
    <h1> Counting infinities </h1>
    <h3> 
        <i id="tagline"> Thoughts of a random guy on life experiences, programming and music 
        </i>
    </h3>
    <br/>
    <!--   Social media icons --> 
    <ul id="social-links">
        <!-- For icons iconninja.com -->
        <li>
            <a href="https://github.com/darxtrix">
                <img src="{{ "/img/social/social-1_round-github-new.png" | prepend: site.baseurl }}" type="Github">
            </a>
        </li>
         <li>
            <a href="https://facebook.com/darxtrix">
                <img src="{{ "/img/social/facebook_social_new.png" | prepend: site.baseurl }}" type="Facebook">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/darxtrix">
                <img src="{{ "/img/social/twitter_social_new.png" | prepend: site.baseurl }}" type="Twitter">
            </a>
        </li>
        <li>
            <a href="https://in.linkedin.com/in/darxtrix">
                <img src="{{ "/img/social/linkedin_social_new.png" | prepend: site.baseurl }}" type="LinkedIn">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/darxtrix/">
                <img src="{{ "/img/social/instagram_social_new.png" | prepend: site.baseurl }}" type="ankcodes">
            </a>
        </li>
        <li>
            <a href="https://medium.com/@darxtrix">
                <img src="{{ "/img/social/medium_social_new.png" | prepend: site.baseurl }}" type="Medium">
            </a>
        </li>
    </ul>
</div>
