<head>
	<!-- Meta -->
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<!-- favicon -->
	<link rel="shortcut icon" type="img/ico" href="../img/favicon.ico"/>
	<!-- Feed link -->
	<link href="{{ site.baseurl }}/feed.xml/" rel='alternate' type='application/atom+xml'>
	<!-- SEO tags -->
	<meta name="description" content="Ankush-Sharma-blog">
	<meta name="keywords" content="black-perl,Ankush-Sharma,IIT-BHU,GNU-Mailman,gsoc15,couting-infinities,black_perl">
	<meta name="author" content="Ankush Sharma,IIT BHU,black-perl,darxtrix">
	<!-- title -->
	<title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<!-- CSS & fonts -->
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,400italic|Signika:700,300,400,600' rel='stylesheet' type='text/css'>

</head>
